/*I could redo the whole page a second time but optimized for cellphones with @media*/
/*Also I would like to welcome you to a page brought to you by the 90s cause that's all my artistic skills know*/
/*I know this looks completly different than the .gif that was provided but Sean, our instructor told us to make it our own, it should still have all requirements filled*/

@media screen and (min-width: 1310px) {
  /* Move the second card to the first position */
  .card ul li:nth-child(1) {
    order: 2;
  }
}

@media screen and (max-width: 990px) {
  /* Move the second card to the top */
  .card ul li:nth-child(2) {
    order: -1;
  }
} 

@media screen and (max-width: 1306px) {
  .listitems {
    flex-direction: column; 
    padding: 20px;
    align-items: center; 
  }

  .listitems li {
    margin: 10px 0; /* Adjust margin */
  }
}

@keyframes glowing {
  0% { text-shadow: 2px 2px 15px rgb(124, 20, 20); }
  25% { text-shadow: 4px 4px 25px rgb(124, 20, 20); }
  50% { text-shadow: 2px 2px 15px rgba(224, 45, 14, 0.877); }
  75% { text-shadow: 2px 2px 15px rgb(124, 20, 20); }
  100% { text-shadow: 4px 4px 25px rgb(124, 20, 20); }
  115% { text-shadow: 2px 2px 15px rgb(224, 126, 14); }
}

/* Body styling */
body {
  flex-direction: column;
  line-height: 1.3;
  margin: 0 auto; 
  background-color: #051e36;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

/*I had an issue with permission on this image*/
#mike {
  position: absolute;
  max-width: 15%;
  max-height: 90%;
  min-width: 10%;
  min-height: 80%;
  transform: scaleX(-1);
  z-index: 9999;
  border-radius: 125px;
  background-size: cover; /* Adjust background size if needed */
  background-position: center; /* Adjust background position if needed */
}

#topbg {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  box-shadow: 0 0 20px #701919;
  z-index: -1; 
}

/* Name styling */
.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  left: 20%;
  background-color: none;
  color: #701919;
  padding: 10px 20px;
  font-size: 80px;
  text-align: center;
  -webkit-text-stroke: 1.5px #180404;
  animation: glowing 5s infinite alternate;
  display: flex;
  z-index: 1;
}

/* Background styling */
.bg {
  position: relative;
}

/* List items styling */
.listitems {
  font-size: larger;
  font-weight: 600;
  position: relative;
  top: 2px;
  transform: translateX(-40%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: glowing 5s infinite alternate;
}

.listitems li {
  position: relative;
  list-style: none;
  margin-top: 1px;
  color: #701919;
  text-align: center;
  -webkit-text-stroke: 1.5px #472323;
  animation: glowing 5s infinite alternate;
  display: flex;
  border: 2px dotted #701919; 
  border-radius: 50px; 
  margin: 0 right;
}

/* Applies the step pattern to top right*/
.listitems li:nth-child(1) {
  transform: translateX(650px); 
  order: 2;
}

.listitems li:nth-child(2) {
  transform: translateX(530px); 
  order: 3;
}

.listitems li:nth-child(3) {
  transform: translateX(430px); 
  order: 4;
}

.listitems li:nth-child(4) {
  transform: translateX(300px); 
  order: 5;
}

.listitems li {
  border: 2px dotted #701919; 
  border-radius: 50px; 
  padding: 8px; 
}

.listitems li a:visited {
  color: #701919; 
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .listitems {
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    transform: translateY(130px);
    left: -365px;
  }

  .listitems li {
    margin: 30px 65px 100px 65px;
  }
}

/* About me section styling */
#aboutmetext {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px 9px #701919;
  background-image: url('../images/ambg.jpg'); 
  background-size: cover; 
  background-position: center; 
  height: 500px;
  top: 5px;
  bottom: 150px;
  padding-bottom: 90px;
  z-index: 0; 
}

.content {
  position: absolute;
  max-width: 600px;
}

.title1, .title2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
}

.title1 {
  position: absolute;
  left: -20px;
  top: -56px;
  background-color: #180404;
  border-radius: 50px;
}

.title2 {
  position: absolute;
  right: -10px;
  bottom: -25px;
  background-color: #180404;
  border-radius: 50px;
}

.item1 {
  position:relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  left: -185px;
  top: 85px;
}

.item2 {
  position:relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  left: 185px;
  top: 95px;
}

p {
  margin-bottom: 20px;
}

/*This code enables the text boxes in the aboutme section to grow and show more text*/
.item1,
.item2 {
  position: relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  transition: all 2s ease;
}

.item1 .hidden-span,
.item2 .hidden-span {
  display: none;
}

.item1:hover,
.item2:hover {
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item1:hover .hidden-span,
.item2:hover .hidden-span {
  display: inline;
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  .item1,
  .item2 {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .title1, .title2 {
    font-size: 18px;
  }

  .title1 {
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
  }

  /*This is my first Real project ive done for a client*/
  .title2 {
    right: 50%;
    transform: translateX(50%);
  }

  .item1 {
    left: 50%;
    transform: translateX(-50%);
  }

  .item2 {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Card styling */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 9999;
  padding: 15px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card ul li {
  border: 5px solid #000;
  background-color: #180404;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  margin: 25px;
  max-width: 300px;
  box-shadow: 0 0 18px #180404;
}

.card ul li:hover {
  box-shadow: inset 0 0 20px rgb(231, 114, 114);
  transform: scale(1.25, 1.25);
  transition-duration: 2s;
}

.card ul li img {
  border-radius: 125px;
  max-width: 225px;
}

.card ul li:nth-child(2) {
  border: 5px solid #000;
  background-color: #180404;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  margin: 25px;
  max-width: 300px;
  box-shadow: 0 0 18px #180404;
  transform: scale(1.25); 
}

.card ul li:nth-child(2):hover {
  box-shadow: inset 0 0 20px rgb(231, 114, 114);
  transform: scale(1.75, 1.75);
  transition-duration: 2s;
}

.card ul li p {
  display: none; /* Initially hide the titles */
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #c41f1f; /* Set the text color */
  background-color: #000;
  border-radius: 20px;
  padding: 5px;
  z-index: 1;
}

/* Show the titles when the card is hovered */
.card ul li:hover p {
  display: block; 
}

/* Form styling */
form {
  position: relative;
  top: 120px;
  margin: 0;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
}

form h3 {
  position: absolute; 
  bottom: 340px; 
  left: 50%; 
  transform: translateX(-50%); 
  animation: glowing 5s infinite alternate;
}

.text-input {
  text-align: center;
  width: 250px;
  height: 30px;
  border: 5px solid #701919;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  bottom: -15px;
  margin-bottom: 0;
}

.text-input-email {
  position: relative;
  text-align: center;
  width: 250px;
  height: 30px;
  border-left: 5px solid #701919;
  border-right: 5px solid #701919; 
  top: -20px;
}

.text-input-comment {
  position: relative;
  text-align: center;
  line-height: 120px;
  width: 500px;
  height: 150px;
  font-size: 14pt;
  border: 6px solid #701919;
  border-radius: 15px;
  top: -40px;
  margin-bottom: -30px; 
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 95%);
}

.checkbox input[type="checkbox"] {
}

.checkbox label {
  display: block;
  width: 500px;
  font-size: 8pt;
  border: 6px solid #701919;
  border-radius: 5px;
  background-color: #ccc;
  opacity: 20%;
  transform: translate(53%, -95%);
}

#agree-label {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#agree:checked ~ #agree-label {
  opacity: 1;
  color: red;
}

/*Button formating*/
button {
  position: relative;
  padding: 1% 6%;
  color: #fff;
  background-color: #5a7996;
  border: solid #701919 2px;
  border-radius: 25px;
  outline: 5px #000;
  transform: translate(0%, 55%);
}

/* Glow effect on hover */
button:hover {
  box-shadow: inset 0 0 5px 2px #180404, 0 0 10px rgba(0, 0, 0, 0.5); 
}

/* Inset shadow on click */
button:active {
  box-shadow: inset 0 0 5px 2px #180404, 0 0 20px rgba(206, 120, 120, 0.8); 
}

.bg img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  height: 200px; 
  width: 100%;
  display: block;
  position: relative;
}

/* Footer styling */
footer {
  position: relative; 
  width: 100%;
  margin-top: 200px; 
}

/* Footer image styling */
footer img {
  size: cover;
  width: 0%;
  height: 100%;
}

/* Footer paragraph styling */
footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-weight: 500;
  text-shadow: 2px 2px 15px rgb(134, 38, 38);
  font-size: 25px;
  -webkit-text-stroke: 1.5px #a00808;
}