/* Responsive styling */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 24px;
  }
}

@keyframes glowing {
  0% { text-shadow: 2px 2px 15px rgb(124, 20, 20); }
  25% { text-shadow: 4px 4px 25px rgb(124, 20, 20); }
  50% { text-shadow: 2px 2px 15px rgba(224, 45, 14, 0.877); }
  75% { text-shadow: 2px 2px 15px rgb(124, 20, 20); }
  100% { text-shadow: 4px 4px 25px rgb(124, 20, 20); }
  115% { text-shadow: 2px 2px 15px rgb(224, 126, 14); }
}



/* Body styling */
body {
  flex-direction: column;
  line-height: 1.3;
  margin: 0;
  background-color: #051e36;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}

/* Name styling */
.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 15%;
  left: 10%;
  background-color: none;
  color: #701919;
  padding: 10px 20px;
  font-size: 80px;
  text-align: center;
  -webkit-text-stroke: 1.5px #180404;
  animation: glowing 5s infinite alternate;
  display: flex;
}

/* Background styling */
.bg {
  position: relative;
  box-shadow: 0 0 20px #701919; /* Adjust the values as needed */
}

.bg img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 200px; 
  width: 100%;
  display: block;
  position: relative;
}

/* List items styling */
.listitems {
  font-size: larger;
  font-weight: 600;
  position: absolute;
  bottom: 4px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
  animation: glowing 5s infinite alternate;
  
}

.listitems li {
  position: relative;
  list-style: none;
  padding: 10px;
  margin-top: 1px;
  color: #701919;
  text-align: center;
  -webkit-text-stroke: 1.5px #472323;
  animation: glowing 5s infinite alternate;
  display: flex;
}

/* Applies the step pattern to top right*/
.listitems li:nth-child(1) {
  transform: translateX(550px); 
}

.listitems li:nth-child(2) {
  transform: translateX(430px); 
}

.listitems li:nth-child(3) {
  transform: translateX(350px); 
}

.listitems li:nth-child(4) {
  transform: translateX(220px); 
}

.listitems li {
  border: 2px dotted #701919; 
  border-radius: 50px; 
  padding: 8px; 
}

.listitems li a:visited {
  color: inherit; 
}

/* About me section styling */
#aboutmetext {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px 9px #701919;
  background-image: url("./Assets/images/ambg.jpg"); 
  background-size: cover; 
  background-position: center; 
  top: 0px;
  bottom: 150px;
  padding-bottom: 90px;
}

.content {
  max-width: 600px;
  z-index: 1; 
}

.title1, .title2 {
  font-size: 42px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  
}

.title1 {
  position: absolute;
  left: -20px;
  top: -66px;
  background-color: #180404;
  border-radius: 50px;
}

.title2 {
  position: absolute;
  right: -10px;
  bottom: -25px;
  background-color: #180404;
  border-radius: 50px;
}

.item1 {
  position:relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  left: -185px;
  top: 85px;
}

.item2 {
  position:relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  left: 185px;
  top: 95px;
}

p {
  margin-bottom: 20px;
}

/*This code enables the text boxes in the aboutme section to grow and show more text*/
.item1,
.item2 {
  position: relative;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  background-color: #701919;
  transition: all 2s ease;
}

.item1 .hidden-span,
.item2 .hidden-span {
  display: none;
}

.item1:hover,
.item2:hover {
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item1:hover .hidden-span,
.item2:hover .hidden-span {
  display: inline;
}

/* Card styling */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px; 
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card ul li {
  border: 5px solid #000;
  background-color: #180404;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  margin: 25px;
  max-width: 300px;
  box-shadow: 0 0 18px #180404;
}

.card ul li:hover {
  box-shadow: inset 0 0 20px rgb(231, 114, 114);
    transform: scale(1.25, 1.25);
  transition-duration: 2s;
}

.card ul li img {
  border-radius: 125px;
  max-width: 225px;
}

/* Form styling */
form {
  position: relative;
  top: 120px;
  margin: 0;
  text-align: center;
  padding-top: 0;
  padding-bottom: 10px;
}

.text-input {
  text-align: center;
  width: 250px;
  height: 30px;
  border: 5px solid #701919;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  bottom: -15px;
  margin-bottom: 0;
}

.text-input-email {
  position: relative;
  text-align: center;
  width: 250px;
  height: 30px;
  border-left: 5px solid #701919;
  border-right: 5px solid #701919; 
  top: -20px;
}

.text-input-comment {
  position: relative;
  text-align: center;
  width: 400px;
  height: 150px;
  font-size: 14pt;
  border: 6px solid #701919;
  border-radius: 15px;
  top: -40px;
  margin-bottom: 0; 
}

.checkbox {
  position: relative;
  top: -40px; 
  background-color: #ccc; 
  padding: 10px; 
  border: 5px solid #701919;
  border-radius: 15px 15px 15px 15px;
}

.checkbox:checked + label::after {
  margin-left: 10px;
  font-size: 80%;
  content: "(thanks!, No information will be given or sold!)";
}

/*Button formating*/
button {
  position: relative;
  padding: 1% 6%;
  color: #fff;
  background-color: #5a7996;
  border: solid #701919 2px;
  border-radius: 25px;
  outline: 5px #000;
}

/* Glow effect on hover */
button:hover {
  box-shadow: inset 0 0 5px 2px #180404, 0 0 10px rgba(0, 0, 0, 0.5); 
}

/* Inset shadow on click */
button:active {
  box-shadow: inset 0 0 5px 2px #180404, 0 0 20px rgba(206, 120, 120, 0.8); 
}

/* Footer styling */
footer {
  position: relative; /* Change absolute to relative */
  width: 100%;
  margin-top: 200px; /* Add margin-top to create space between form and footer */
}

/* Footer image styling */
footer img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Footer paragraph styling */
footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-weight: 500;
  text-shadow: 2px 2px 15px rgb(134, 38, 38);
  font-size: 25px;
  -webkit-text-stroke: 1.5px #a00808;
}
